/* CSS HEX */
:root {
--amber-gold: #fbbf24ff;
--metallic-gold: #ddb039ff;
--slate-grey: #64748bff;
--jade-green: #22c55eff;
--sunflower-gold: #eab308ff;
--strawberry-red: #ef4444ff;
}

/* CSS HSL */
.example-hsl {
--amber-gold: hsla(43, 96%, 56%, 1);
--metallic-gold: hsla(44, 71%, 55%, 1);
--slate-grey: hsla(215, 16%, 47%, 1);
--jade-green: hsla(142, 71%, 45%, 1);
--sunflower-gold: hsla(45, 93%, 47%, 1);
--strawberry-red: hsla(0, 84%, 60%, 1);
}

/* SCSS RGB */
.example-rgb {
--amber-gold: rgba(251, 191, 36, 1);
--metallic-gold: rgba(221, 176, 57, 1);
--slate-grey: rgba(100, 116, 139, 1);
--jade-green: rgba(34, 197, 94, 1);
--sunflower-gold: rgba(234, 179, 8, 1);
--strawberry-red: rgba(239, 68, 68, 1);
}

/* SCSS Gradient */
.example-gradient {
--gradient-top: linear-gradient(0deg, #fbbf24ff, #ddb039ff, #64748bff, #22c55eff, #eab308ff, #ef4444ff);
--gradient-right: linear-gradient(90deg, #fbbf24ff, #ddb039ff, #64748bff, #22c55eff, #eab308ff, #ef4444ff);
--gradient-bottom: linear-gradient(180deg, #fbbf24ff, #ddb039ff, #64748bff, #22c55eff, #eab308ff, #ef4444ff);
--gradient-left: linear-gradient(270deg, #fbbf24ff, #ddb039ff, #64748bff, #22c55eff, #eab308ff, #ef4444ff);
--gradient-top-right: linear-gradient(45deg, #fbbf24ff, #ddb039ff, #64748bff, #22c55eff, #eab308ff, #ef4444ff);
--gradient-bottom-right: linear-gradient(135deg, #fbbf24ff, #ddb039ff, #64748bff, #22c55eff, #eab308ff, #ef4444ff);
--gradient-top-left: linear-gradient(225deg, #fbbf24ff, #ddb039ff, #64748bff, #22c55eff, #eab308ff, #ef4444ff);
--gradient-bottom-left: linear-gradient(315deg, #fbbf24ff, #ddb039ff, #64748bff, #22c55eff, #eab308ff, #ef4444ff);
--gradient-radial: radial-gradient(#fbbf24ff, #ddb039ff, #64748bff, #22c55eff, #eab308ff, #ef4444ff);
}
