/* CSS HEX */
:root {
--lavender-purple: #a855f7ff;
--bright-lavender: #c084fcff;
--soft-periwinkle: #7d7abcff;
--dusty-grape: #6457a6ff;
--prussian-blue: #0f172aff;
--deep-space-blue: #1e293bff;
}

/* CSS HSL */
.example-hsl {
--lavender-purple: hsla(271, 91%, 65%, 1);
--bright-lavender: hsla(270, 95%, 75%, 1);
--soft-periwinkle: hsla(243, 33%, 61%, 1);
--dusty-grape: hsla(250, 31%, 50%, 1);
--prussian-blue: hsla(222, 47%, 11%, 1);
--deep-space-blue: hsla(217, 33%, 17%, 1);
}

/* CSS RGB */
.example-rgb {
--lavender-purple: rgba(168, 85, 247, 1);
--bright-lavender: rgba(192, 132, 252, 1);
--soft-periwinkle: rgba(125, 122, 188, 1);
--dusty-grape: rgba(100, 87, 166, 1);
--prussian-blue: rgba(15, 23, 42, 1);
--deep-space-blue: rgba(30, 41, 59, 1);
}

/* CSS Gradient */
.example-gradient {
--gradient-top: linear-gradient(0deg, #a855f7ff, #c084fcff, #7d7abcff, #6457a6ff, #0f172aff, #1e293bff);
--gradient-right: linear-gradient(90deg, #a855f7ff, #c084fcff, #7d7abcff, #6457a6ff, #0f172aff, #1e293bff);
--gradient-bottom: linear-gradient(180deg, #a855f7ff, #c084fcff, #7d7abcff, #6457a6ff, #0f172aff, #1e293bff);
--gradient-left: linear-gradient(270deg, #a855f7ff, #c084fcff, #7d7abcff, #6457a6ff, #0f172aff, #1e293bff);
--gradient-top-right: linear-gradient(45deg, #a855f7ff, #c084fcff, #7d7abcff, #6457a6ff, #0f172aff, #1e293bff);
--gradient-bottom-right: linear-gradient(135deg, #a855f7ff, #c084fcff, #7d7abcff, #6457a6ff, #0f172aff, #1e293bff);
--gradient-top-left: linear-gradient(225deg, #a855f7ff, #c084fcff, #7d7abcff, #6457a6ff, #0f172aff, #1e293bff);
--gradient-bottom-left: linear-gradient(315deg, #a855f7ff, #c084fcff, #7d7abcff, #6457a6ff, #0f172aff, #1e293bff);
--gradient-radial: radial-gradient(#a855f7ff, #c084fcff, #7d7abcff, #6457a6ff, #0f172aff, #1e293bff);
}