@theme falg-dark-tailwind {
    --color-lavender-purple-50: hsl(271.3 92% 95.1%);
    --color-lavender-purple-100: hsl(270.6 92.2% 90%);
    --color-lavender-purple-200: hsl(271.3 90.2% 80%);
    --color-lavender-purple-300: hsl(271.1 90.8% 70%);
    --color-lavender-purple-400: hsl(271 91.2% 60%);
    --color-lavender-purple-500: hsl(270.9 91.4% 50%);
    --color-lavender-purple-600: hsl(271 91.2% 40%);
    --color-lavender-purple-700: hsl(271.1 90.8% 30%);
    --color-lavender-purple-800: hsl(271.3 90.2% 20%);
    --color-lavender-purple-900: hsl(270.6 92.2% 10%);
    --color-lavender-purple-950: hsl(270 88.9% 7.1%);

    --color-bright-lavender-50: hsl(270 92.3% 94.9%);
    --color-bright-lavender-100: hsl(269.4 96.1% 90%);
    --color-bright-lavender-200: hsl(270 94.1% 80%);
    --color-bright-lavender-300: hsl(269.8 94.8% 70%);
    --color-bright-lavender-400: hsl(270 95.1% 60%);
    --color-bright-lavender-500: hsl(269.9 95.3% 50%);
    --color-bright-lavender-600: hsl(270 95.1% 40%);
    --color-bright-lavender-700: hsl(269.8 94.8% 30%);
    --color-bright-lavender-800: hsl(270 94.1% 20%);
    --color-bright-lavender-900: hsl(269.4 96.1% 10%);
    --color-bright-lavender-950: hsl(270 94.4% 7.1%);

    --color-space-indigo-50: hsl(245 46.2% 94.9%);
    --color-space-indigo-100: hsl(242.6 45.1% 90%);
    --color-space-indigo-200: hsl(243.8 47.1% 80%);
    --color-space-indigo-300: hsl(243.4 46.4% 70%);
    --color-space-indigo-400: hsl(243.8 47.1% 60%);
    --color-space-indigo-500: hsl(244 46.7% 50%);
    --color-space-indigo-600: hsl(243.8 47.1% 40%);
    --color-space-indigo-700: hsl(243.4 46.4% 30%);
    --color-space-indigo-800: hsl(243.8 47.1% 20%);
    --color-space-indigo-900: hsl(242.6 45.1% 10%);
    --color-space-indigo-950: hsl(247.1 48.6% 6.9%);

    --color-prussian-blue-50: hsl(220 46.2% 94.9%);
    --color-prussian-blue-100: hsl(221.7 45.1% 90%);
    --color-prussian-blue-200: hsl(222.5 47.1% 80%);
    --color-prussian-blue-300: hsl(222.3 46.4% 70%);
    --color-prussian-blue-400: hsl(221.9 47.1% 60%);
    --color-prussian-blue-500: hsl(221.8 46.7% 50%);
    --color-prussian-blue-600: hsl(221.9 47.1% 40%);
    --color-prussian-blue-700: hsl(222.3 46.4% 30%);
    --color-prussian-blue-800: hsl(222.5 47.1% 20%);
    --color-prussian-blue-900: hsl(221.7 45.1% 10%);
    --color-prussian-blue-950: hsl(222.4 48.6% 6.9%);

    --color-prussian-blue-50: hsl(220 46.2% 94.9%);
    --color-prussian-blue-100: hsl(221.7 45.1% 90%);
    --color-prussian-blue-200: hsl(222.5 47.1% 80%);
    --color-prussian-blue-300: hsl(222.3 46.4% 70%);
    --color-prussian-blue-400: hsl(221.9 47.1% 60%);
    --color-prussian-blue-500: hsl(221.8 46.7% 50%);
    --color-prussian-blue-600: hsl(221.9 47.1% 40%);
    --color-prussian-blue-700: hsl(222.3 46.4% 30%);
    --color-prussian-blue-800: hsl(222.5 47.1% 20%);
    --color-prussian-blue-900: hsl(221.7 45.1% 10%);
    --color-prussian-blue-950: hsl(222.4 48.6% 6.9%);

    --color-deep-space-blue-50: hsl(217.5 30.8% 94.9%);
    --color-deep-space-blue-100: hsl(215.3 33.3% 90%);
    --color-deep-space-blue-200: hsl(217.1 33.3% 80%);
    --color-deep-space-blue-300: hsl(216.5 33.3% 70%);
    --color-deep-space-blue-400: hsl(217.1 33.3% 60%);
    --color-deep-space-blue-500: hsl(216.7 33.3% 50%);
    --color-deep-space-blue-600: hsl(217.1 33.3% 40%);
    --color-deep-space-blue-700: hsl(216.5 33.3% 30%);
    --color-deep-space-blue-800: hsl(217.1 33.3% 20%);
    --color-deep-space-blue-900: hsl(215.3 33.3% 10%);
    --color-deep-space-blue-950: hsl(220 33.3% 7.1%);
}